.back{
    background-image: url('back-001.jpg');
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 0px;
        overflow-x: hidden;
    }
}

.body-overflow{
    overflow-x: hidden;
    overflow-y: hidden;
}